<!--MEDIA PANE-->
<section class="cdf-media-pane-container" [@mediaStateTrigger]="mediaModel.mediaPaneState">
	
	<!--MEDIA: IMAGE OR VIDEO-->
	<cdf-media [media]="mediaModel"
				[showType]="showType"
				(onImageClick)="onMediaClick()"
				(onVideoBeforePlay)="onVideoBeforePlay()"></cdf-media>				

</section>


<!--INFO PANE-->
<section class="cdf-info-pane-container" *ngIf="mediaModel.IsInfoPaneExpanded" [@infoPaneSlideTrigger]="mediaModel.infoPaneExpandedState">
	<section class="cdf-info-pane-container__wrapper">

		<!--CLOSE BUTTON-->
		<a class="close-button" (click)="onStopVideoClick()">×</a>

		<ng-content></ng-content>

	</section>
</section>