/********************************************************
COLORS
********************************************************/
$color-primary:						#387ef5;
$color-secondary:					#EF5350;
$color-tertiary:					#EF5350;

$color-white: 						#fff;
$color-grey: 						#ccc;
$color-grey-dark: 					#2d2d2d;
$color-grey-light: 					#efefef;
$color-body: 						#ededed;
$color-img-background: 				#d4d4d4;
$color-transparent-grey:		 	rgba(0, 0, 0, 0.8);



/********************************************************
ERRORS, WARNINGS, SUCCESS 
********************************************************/
$error:								#B5121B;
$errorBackground:					#FACCC4;
$warning:							#E67800;
$success:							#598920;



/********************************************************
BACKGROUNDS
********************************************************/
$background:						#F6F6F6;
$backgroundHover:					#EDEDED;
$backgroundOpaque:					#edf2f7;
$backgroundActive:					#FFFEEE;
$backgroundBlack:					rgba(0, 0, 0, 0.2);



/********************************************************
BREADCRUMBS
********************************************************/
$breadCrumbHeight:					3rem;
$breadCrumbBeforeAfterHeight:		1.5rem;
$breadCrumbBorderDark:				#CBCED1;
$breadCrumbBackground:				rgba(48, 48, 48, 1);
$breadCrumbBackgroundSection:		rgba(68, 68, 68, 1);
$breadCrumbBackgroundHover:			#293032;	
$breadCrumbFont:					#969696;
$breadCrumbFontPage:				#fff;



/********************************************************
BORDERS
********************************************************/
$border:							#becbd2;
$borderDark:						#262626;
$borderMedium:						#9AA3A7;
$borderLight:						#eaeaea;



/********************************************************
BREAKPOINTS
//	ZURB BREAKPOINTS (see app/sass/foundation-apps/_settings.scss):  
//   small: rem-calc(0),
//   medium: rem-calc(640),
//   large: rem-calc(1024),
//   xlarge: rem-calc(1440),
//   xxlarge: rem-calc(1920),
********************************************************/
//0
$smallPortraitMinWidth:           	0;

//20rem = 320px
$smallPortraitMaxWidth:           	20rem;

//20.0625rem = 321px
$smallLandscapeMinWidth:         	20.0625rem;

//39.9999rem = 639px
$smallLandscapeMaxWidth:         	39.9999rem;

//40rem = 640px
$mediumMinWidth:         			40rem;

//64rem = 1024px
$mediumMaxWidth:         			64rem;

//64.0625rem = 1025px
$largeMinWidth:         			64.0625rem;


